* {
    padding: 0;
    margin: 0;
}
.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--primary);
}
/* Recipe Search */
.recipes-container {
    width: 90vw;
    max-width: 1500px;
    height: 90vh;
}
.recipe-find-container {
    display: flex;
    width: 90vw;
    max-width: 1500px;
    height: 30vh;
    align-items: center;
    justify-content: center;
}
.recipe-find-box {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 600px;
    height: 225px;
    border-radius: 15px;
    margin: 30px 0;
}
.recipe-searchbar {
    display: flex;
    width: 85%;
    height: 30px;
    margin-top: 20px;
    border: 2px #000 solid;
    border-radius: 20px;
}
#recipe-find-search {
    outline: none;
    border: none;
    margin-left: 10px;
    width: 90%;
}
#hit-counter {
    position: fixed;
    bottom: 0;
    right: 0;
}
.alert {
    display: flex;
    width: 300px;
    height: 45px;
    justify-content: center;
    border-left: 8px solid #bababa;
    border-radius: 4px;
    align-items: center;
    text-align: left;
    font-size: 16px;
    margin: 5px;
}
.nrf-alert {
    border-color: #ff4757;
    background: #ffe0e3;
    color: #ff4757
}
.alert-icon, .alert-exit {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0 8px;
}
.alert-content {
    width: 100%;
    line-height: 1.5px;
}
.inactive {
    display: none;
}